#! /usr/bin/env bash

# On bash 3.2, `source_up` exits with error if there are no .envrc files in any
# parent directories. Prepending '!' suppresses errors to maintain
# compatibility with older bash versions
! source_up

PATH_add ./scripts

#############################
# AWS VAULT SETTINGS        #
#############################

# Have aws-vault use the login keychain for better timeout behavior
export AWS_VAULT_KEYCHAIN_NAME=login

#############################
# Load Secrets from Chamber #
#############################

# Make Chamber read ~/.aws/config
export AWS_SDK_LOAD_CONFIG=1
# Have chamber use the default SSM alias
export CHAMBER_KMS_KEY_ALIAS=aws/ssm
# Make Chamber use path based keys ('/' instead of '.')
export CHAMBER_USE_PATHS=1
# Sets the number of retries for chamber to 20.
export CHAMBER_RETRIES=20

################
# AWS Profiles #
################

# Root profile name
export AWS_ROOT_PROFILE="trussworks-org-root"

# Profile id
export AWS_ID_PROFILE="trussworks-id"

# Expire assume-role sessions after 1 hour
export AWS_ASSUME_ROLE_TTL=1h

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
